<h1 *appMultiply="1" >Estudiantes</h1>


<form (ngSubmit)="onSubmit()" [formGroup]="studentForm" class="w-6">
    <div class="grid">
        <div class="col-6">
            <mat-form-field class="w-full" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput />
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="w-full" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input formControlName="lastName" matInput>
            </mat-form-field>
        </div>
    </div>  
    <div class="col-12">
        <button type="submit" mat-stroked-button>Guardar</button>
    </div>
</form>

<hr/>
<br/>

<table mat-table [dataSource]="studentsList" class="mat-elevation-z8">

    <!--ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td  [bolder]="true" appHighlight mat-cell *matCellDef="let element"> {{element | fullName}} </td>
    </ng-container>
  
    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> lastName </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Acciones Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="onDelete(element.id)" mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon (click)="onEdit(element)">edit</mat-icon>
        </button>
      </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  