.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 16px; /* Espacio entre el spinner y el texto */
}

.spinner-container p {
    font-size: 1.2em;
    color: #0c6739; /* Color primario de Angular Material */
}

h1 {
    margin: 20px auto;
    color: rgb(47, 24, 91);
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #dcdcdc;
}